*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #191919;
    color: #D9D9D9;
}
input{
    background-color: #262626;
    border: solid 1px white;
    border-radius: 5px;
    color: #D9D9D9;
    padding: 0vh 0.5vw;
}
.contenedor-main{
    margin: 5vh 30vw ;
    margin-bottom: 0vh;
    display: grid;
    grid-template: 
    "titulo"
    "sec1"
    "sec2"
    "listado-tareas";
    gap: 1vh 1vw;
}
.titulo{
    background-color: #262626;
    border: solid 1px white;
    border-radius: 5px;
}
.titulo h1{
    color: #D9D9D9;
    padding: 2vh 2vw ;
    text-align: center;
}
.sec1{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr; 
    grid-template-rows: 0.5fr 2fr;
    gap: 1vh 1vw;
}
.sec2{
    display: flex;
    flex-flow: column wrap;
    gap: 1vh 1vw;
}
.cdescripcion{
    height: 5vh;
}
.btn-agregar-tarea{
    background-color: #455473;
    border: solid 5px #242B40;
    border-radius: 10px;
    color: #BFBAB0;
    height: 8vh;
}
.listado-tareas{
    display: flex;
    flex-direction: column;
    gap: 3vh 1vw;
}
h2{
    text-align: center;
}
.tarea{
    background-color: #272929;
    border-radius: 10px;
    padding: 1vh 1vw;
    text-align: center;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr) 0.2fr;
    gap: 1vh 1vw;
}
.tareaXD{
    color:limegreen;
    text-align: center;
}
.icono{
    color: tomato;
    cursor: pointer;
}
